.card-body.news {
    width: 60vw;
    margin: 0px auto;
    padding: 15px;
    margin-top: 50px;
}

.team-table-body {
    width: 80vw;
    margin: 0px auto;
    padding: 15px;
    margin-top: 50px;
}

.card-text {
    width: 55vw;
    text-align: justify;
}


.single_post {
    margin-bottom: 20px;
}


body {
    background-color: #eee
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}