.card-body.news {
    width: 60vw;
    margin: 0px auto;
    padding: 15px;
    margin-top: 50px;
}

.team-table-body {
    width: 80vw;
    margin: 0px auto;
    padding: 15px;
    margin-top: 50px;
}

.card-text {
    width: 55vw;
    text-align: justify;
}


.single_post {
    margin-bottom: 20px;
}
