<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title> Our company Intranet site</title>
    {% endblock %}
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header class="header">
{#    <img src="" alt="Logo" class="logo">#}
    <a href="{% url 'index' %}">OurCompany</a>
    <nav>
        <ul class="nav_links">
            <li><a href="{% url 'team' %}">Team</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'random_profile' %}">I'm Feeling Lucky</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-outline-light" href="#" role="button">Login</a>
    <a class="btn btn-outline-light" href="#" role="button">Register</a>
    </div>

</header>
<div class="wrapper">
{% block content %}{% endblock %}
</div>
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>