{% extends "base.html" %}

{% block content %}
    <p>You log in as {{ user.employee.first_name }} {{ user.employee.last_name }}</p>
    <p>Your city is {{ user.employee.city }}</p>

    <main>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>

    </div>
    <h1>В нашей команде {{ emp_count }}</h1>
    <h1>Новостей написано {{ news_count }}</h1>
    <h1>Лайков поставлено {{ likes_count }}</h1>
    <h1>Комментариев оставлено {{ comments_count }}</h1>
    <h1>Видов специальностей {{ role_count }}</h1>
    <h1>Отделов {{ departments_count }}</h1>
    </main>
    <hr>
        {% if birthdays %}
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Birthdays </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                {% for day_persons in birthdays %}
                    {% for person in day_persons %}

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/profile/{{ person.email }}">{{ person.first_name }} {{ person.last_name }}</a></h4>
                                        <p class="card-text">{{ person.birth_date|date:'d' }} {{ person.birth_date|date:'F' }}</p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
        {% else %}
            <h2>No birthday boys(</h2>
        {% endif %}

{% endblock %}
