{% extends "base.html" %}
{% block content %}
    <div class="card-body news">
        <h1>News List</h1>

        <div class="card mb-3">
            {#  <img src="..." class="card-img-top" alt="...">#}
            <div class="card-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <p class="card-text">{{ new.text }}</p>
                <p class="card-text"><small class="text-muted">Published {{ new.updating_date }}<br>
                    {{ new.likes }} likes</small></p>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="coment-bottom bg-white p-2 px-4">
            <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img
                    class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg"
                    width="38"><input type="text" class="form-control mr-3" placeholder="Add comment">
                <button class="btn btn-primary" type="button">Comment</button>
            </div>
                {% for comment in comments %}
            <div class="commented-section mt-2">
                <div class="d-flex flex-row align-items-center commented-user">
                    <h5 class="mr-2">{{ comment.author}}</h5><span class="dot mb-1"></span><span
                        class="mb-1 ml-2">{{ comment.creation_date}}</span>
                </div>
                <div class="comment-text-sm"><span>{{ comment.text}}</span>
                </div>
                <div class="reply-section">
                    <div class="d-flex flex-row align-items-center voting-icons"><i
                            class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i
                            class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">10</span><span
                            class="dot ml-2"></span>
                        <h6 class="ml-2 mt-1">Reply</h6>
                    </div>
                </div>
            </div>
                      {% endfor %}
        </div>
    </div>
{% endblock %}