{% extends "base.html" %}

{%  block content %}
<h1>Profile user</h1>
<h1> {{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
        {{ user_profile.city.name }}, {{ user_profile.city.country }}
    <br>
   <p>Gender - {{ user_profile.sex }}</p>
<p>Birthday date - {{ user_profile.birth_date }}</p>
    <hr>
    Role in company - {{ user_profile.role.role }}    <br>
    Department - {{ user_profile.role.department }}
    <hr>
    <h2>Contact information</h2>
    Phone number - <a href="tel:{{ user_profile.phone }}">{{ user_profile.phone }}</a><br>
    Email - <a href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a>

    {% if user_profile.description %}
    <p>About:</p>
    {{ user_profile.description }}
    {% endif %}

{% endblock %}